<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Document</title>
</head>
<link href="https://fonts.googleapis.com/css2?family=Big+Shoulders+Stencil+Display:wght@900&display=swap" rel="stylesheet"> 
<link href="https://fonts.googleapis.com/css2?family=Big+Shoulders+Stencil+Display:wght@800&family=Poppins:wght@700&display=swap" rel="stylesheet">  
<link href="https://fonts.googleapis.com/css2?family=Big+Shoulders+Stencil+Display:wght@800&family=Poppins:wght@800&display=swap" rel="stylesheet"> 
<body class="bg-orange-200 w-screen h-auto overflow-x-hidden">
<div class=".container flex flex-col gap-14">

  <section class=" pt-10 mx-14">

    <nav class=" flex flex-row items-center justify-between">
     <div id="name" class=" gap-2 flex flex-row  items-center">
      <img class="w-24" src="../../../assets/burger-removebg-preview.png" alt="">
      <i class=" font-extrabold">E</i>
      <i class="ed font-extrabold">& D</i>
     </div>

     <div id="header_2"  class=" flex  gap-14">
      <p id="header_dtls"  class="text-3xl hover:text-orange-500">Home</p>
      <p id="header_dtls"  class="text-3xl hover:text-orange-500">Menu</p>
      <p id="header_dtls"  class="text-3xl hover:text-orange-500">About</p>
      <p id="header_dtls"  class="text-3xl hover:text-orange-500">Contact</p>
     </div>

     <div id="header_3"  class="flex gap-6">
      <button id="header_btn1"  class="w-[70px] h-10 rounded-md bg-orange-300  text-xl  login">Login</button>
      <button id="header_btn2" class="w-[90px] h-10 rounded-md bg-orange-300  text-xl  login">Register</button>
      <p id="" class="text-2xl text-gray-600 sm:hidden hidden md:block lg:block ">|</p>

      <button class="flex "><svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="1.5" stroke="currentColor" class="w-7 h-7">
        <path stroke-linecap="round" stroke-linejoin="round" d="M2.25 3h1.386c.51 0 .955.343 1.087.835l.383 1.437M7.5 14.25a3 3 0 00-3 3h15.75m-12.75-3h11.218c1.121-2.3 2.1-4.684 2.924-7.138a60.114 60.114 0 00-16.536-1.84M7.5 14.25L5.106 5.272M6 20.25a.75.75 0 11-1.5 0 .75.75 0 011.5 0zm12.75 0a.75.75 0 11-1.5 0 .75.75 0 011.5 0z" />
      </svg>
      <span class="relative flex h-4 w-4 ">
        <span class="animate-ping absolute inline-flex h-full w-full rounded-full bg-red-400 opacity-75"></span>
        <span class="relative inline-flex rounded-full h-3 w-3 bg-red-500"></span>
      </span>
      </button>
     </div>
    </nav>

  </section>

  <section  >
    <div id="section2" class="mt-32 flex flex-row  gap-24 section2">

    <div id="" class="flex flex-col pl-24 ">
        <div id="section2-1" class="flex flex-row gap-6  ">
            <p id="section2-fast" class="fast text-[180px] font-extrabold text-orange-500">Fast</p>
            <div class="food flex flex-col">
             <p id="section2-food" class="text-[80px]  ">Food</p>
             <p id="section2-food" class="text-[80px]  ">Delivery</p>
            </div>
        </div>
         <p  class=" text-3xl w-[800px] text-zinc-500 section-2-para">Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur.</p>

        <div id="sctn2-videoplay" class="pt-14 flex gap-16">
            <button id="sctn2-order" class="w-[200px] h-[80px] bg-black text-white rounded-full text-2xl font-bold">order now</button>
            <ul id="video-ul"  class="flex items-center gap-5">
                <button id="sctn2-play" class=" w-[80px] h-[80px] bg-white rounded-full flex items-center justify-center animate-bounce hover:animate-none "><svg id="play-button" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24" fill="currentColor" class="w-10 h-10 ">
                    <path fill-rule="evenodd" d="M4.5 5.653c0-1.426 1.529-2.33 2.779-1.643l11.54 6.348c1.295.712 1.295 2.573 0 3.285L7.28 19.991c-1.25.687-2.779-.217-2.779-1.643V5.653z" clip-rule="evenodd" />
                  </svg>           
                  </button>
                  <p id="sctn2-watch" class="text-3xl font-bold text-slate-700">watch video</p>
            </ul>
        </div>
        <div id="sctn2-menu" class="mt-20 flex flex-row  gap-10">
            <div id="sctn2-menu-ls" class="  w-[130px] h-[130px]  bg-white rounded-full flex flex-col  items-center pt-4 gap-7 " >
                <div id="sctn2-menu-border" class="w-[100px] h-[100px] bg-orange-300 rounded-full  ">
                <img id="sctn2-menu-img" class="w-32 " src="../../../assets/burger-removebg-preview.png" alt="">

                </div>
                <p id="text" class="font-bold text-2xl  ">Burger </p>
            </div>
            <div id="sctn2-menu-ls" class="  w-[130px] h-[130px]  bg-white rounded-full flex flex-col  items-center pt-4 gap-7 " >
                <div id="sctn2-menu-border" class="w-[100px] h-[100px] bg-orange-300 rounded-full  ">
                <img id="sctn2-menu-img" class="w-32 h-24" src="../../../assets/pizza-removebg-preview.png" alt="">

                </div>
                <p id="text" class="font-bold text-2xl  ">Pizza </p>
            </div>
            <div id="sctn2-menu-ls" class="  w-[130px] h-[130px]  bg-white rounded-full flex flex-col  items-center pt-4 gap-7 " >
                <div id="sctn2-menu-border" class="w-[100px] h-[100px] bg-orange-300 rounded-full  ">
                <img id="sctn2-menu-img" class="w-32 h-24 pl-2" src="../../../assets/drinks-removebg-preview.png" alt="">

                </div>
                <p id="text" class="font-bold text-2xl  ">Drink </p>
            </div>
            <div id="sctn2-menu-ls" class="  w-[130px] h-[130px]  bg-white rounded-full flex flex-col  items-center pt-4 gap-7 "  >
                <div id="sctn2-menu-border" class="w-[100px] h-[100px] bg-orange-300 rounded-full  ">
                <img id="sctn2-menu-img" class="w-32 h-24 " src="../../../assets/dessert-removebg-preview.png" alt="">

                </div>
                <p id="text" class="font-bold text-2xl  ">Dessert </p>
            </div>
        </div>
    </div>
    <img id="section2-img" class="h-[900px] w-[850px]  pr-10 " src="../../../assets/bestintown-removebg-preview.png" alt="">
  </div>
  
  </section>

   <!-- About us -->

  <section class="mt-14 ">
    <div id="section3" class="flex flex-col items-center gap-16">

      <div id="sctn3-1" class="flex flex-row gap-20 ">
       <img id="sctn3-img" class="w-[700px] h-auto" src="../../../assets/slack-imgs.png" alt="">
        <div  class="sctn3-Aboutus   flex flex-col justify-center sm:items-center items-center gap-10">
          <p id="sctn3-about" class="text-7xl       about">About us</p>
          <p id="sctn3-para" class="w-[700px] text-3xl font-normal">Lorem ipsum dolor sit amet consectetur adipisicing elit. Obcaecati aperiam tenetur sed molestiae odit! Suscipit, fuga, recusandae quia itaque, cum quasi minus aliquam in et illum exercitationem quaerat ad expedita.</p>
          <button id="sctn3-btn" class="w-[150px] h-[70px] bg-orange-400 text-white rounded-md font-bold text-xl">Read more</button>
      
        </div>
      </div> 
      <div  id="sctn3-2" class="flex flex-col items-center gap-14">
        <p  class="text-7xl popular">Our Popular Menu</p>
        <p id="sctn3-para2" class="w-[1200px] text-3xl  text-center font-normal">Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt
          mollit anim id est laborum ex ea commodo consequat. Duis aute irure dolor in repr
          
          ehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur</p>
      </div>

    </div>

  </section>

  <section id="section-3" class="pt-10">
    <div id="sctn3-main"  class="flex flex-col items-center">
      <div id="sctn3-nav" class="flex flex-row gap-6" >
        <button id="sctn3-burger" class="w-[230px] h-[70px] rounded-full border-[2px] border-orange-400 flex items-center  justify-start gap-5 pl-3 text-2xl font-bold text-black hover:text-white hover:bg-orange-400  hover:shadow-gray-600 hover:shadow-lg">
          <i id="sctn3-i" class="w-14 h-14 rounded-full bg-orange-400 flex items-center justify-center"><img  class="sctn3-img w-9 h-9" src="../../../assets/burger.png" alt=""></i>
          Burger
        </button>
        <button id="sctn3-burger" class="w-[230px] h-[70px] rounded-full border-[2px] border-orange-400 flex items-center  justify-start gap-5 pl-3 text-2xl font-bold text-black hover:text-white hover:bg-orange-400  hover:shadow-gray-600 hover:shadow-lg">
          <i id="sctn3-i" class="w-14 h-14 rounded-full bg-orange-400 flex items-center justify-center"><img  class="sctn3-img w-9 h-9" src="../../../assets/pizza.png" alt=""></i>
          Pizza
        </button>
        <button id="sctn3-burger" class="w-[230px] h-[70px] rounded-full border-[2px] border-orange-400 flex items-center  justify-start gap-5 pl-3 text-2xl font-bold text-black hover:text-white hover:bg-orange-400  hover:shadow-gray-600 hover:shadow-lg">
          <i id="sctn3-i" class="w-14 h-14 rounded-full bg-orange-400 flex items-center justify-center"><img  class="sctn3-img   w-9 h-9" src="../../../assets/soda.png" alt=""></i>
          Drink
        </button>
        <button id="sctn3-burger" class="w-[230px] h-[70px] rounded-full border-[2px] border-orange-400 flex items-center  justify-start gap-5 pl-3 text-2xl font-bold text-black hover:text-white hover:bg-orange-400  hover:shadow-gray-600 hover:shadow-lg">
          <i id="sctn3-i" class="w-14 h-14 rounded-full bg-orange-400 flex items-center justify-center"><img  class="sctn3-img  w-10 h-10" src="../../../assets/sweets.png" alt=""></i>
          Dessert
        </button>
  
      </div>

      <!-- menu -->

      <div class="sctn3-menu  pt-20 grid grid-cols-3 gap-32">
        <div class="menu-items">
          <img id="menu-img" class="w-[300px] h-[300px] rounded-full object-cover relative top-32 left-12" src="../../../assets/IMG_0931.PNG" alt="">
         
          <div id="menu-dishes"  class="w-[400px] h-[400px] bg-white flex flex-col justify-center pt-32 pl-12 gap-5">
            <p id="spicy" class="text-3xl font-normal">Spicy Chicke Burger</p>
            <p id="spicy-para" class="w-[350px] text-gray-500 text-lg">Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore</p>        
           <div class="flex flex-row justify-between">
            <button class="w-20 h-11 bg-orange-500 rounded-tl-xl rounded-br-xl flex justify-center items-center"><svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="1.5" stroke="currentColor" class="w-6 h-6">
              <path stroke-linecap="round" stroke-linejoin="round" d="M2.25 3h1.386c.51 0 .955.343 1.087.835l.383 1.437M7.5 14.25a3 3 0 00-3 3h15.75m-12.75-3h11.218c1.121-2.3 2.1-4.684 2.924-7.138a60.114 60.114 0 00-16.536-1.84M7.5 14.25L5.106 5.272M6 20.25a.75.75 0 11-1.5 0 .75.75 0 011.5 0zm12.75 0a.75.75 0 11-1.5 0 .75.75 0 011.5 0z" />
            </svg>
            </button>
            <p class="font-semibold text-lg text-right pr-10">$300</p>

           </div>
          </div>
          
          <button class="menu-btn     relative top-[-370px] left-[340px]"><svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="1.5" stroke="orange" class="w-10 h-10">
            <path stroke-linecap="round" stroke-linejoin="round" d="M21 8.25c0-2.485-2.099-4.5-4.688-4.5-1.935 0-3.597 1.126-4.312 2.733-.715-1.607-2.377-2.733-4.313-2.733C5.1 3.75 3 5.765 3 8.25c0 7.22 9 12 9 12s9-4.78 9-12z" />
          </svg>
          </button>
        </div>

        <div class="menu-items">
          <img id="menu-img" class="w-[300px] h-[300px] rounded-full object-cover relative top-32 left-12" src="../../../assets/IMG_0932.PNG" alt="">
          <div id="menu-dishes" class="w-[400px] h-[400px] bg-white flex flex-col justify-center pt-20 pl-12 gap-5">
            <p id="spicy" class="text-3xl font-normal">Spicy Beef Burger</p>
            <p id="spicy-para" class="w-[350px] text-gray-500 text-lg">Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore</p>  
            
            <div class="flex flex-row justify-between">
              <button class="w-20 h-11 bg-orange-500 rounded-tl-xl rounded-br-xl flex justify-center items-center"><svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="1.5" stroke="currentColor" class="w-6 h-6">
                <path stroke-linecap="round" stroke-linejoin="round" d="M2.25 3h1.386c.51 0 .955.343 1.087.835l.383 1.437M7.5 14.25a3 3 0 00-3 3h15.75m-12.75-3h11.218c1.121-2.3 2.1-4.684 2.924-7.138a60.114 60.114 0 00-16.536-1.84M7.5 14.25L5.106 5.272M6 20.25a.75.75 0 11-1.5 0 .75.75 0 011.5 0zm12.75 0a.75.75 0 11-1.5 0 .75.75 0 011.5 0z" />
              </svg>
              </button>
              <p class="font-semibold text-lg text-right pr-10">$300</p>
  
             </div>
          </div>
          <button class="menu-btn      relative top-[-370px] left-[340px]"><svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="1.5" stroke="orange" class="w-10 h-10">
            <path stroke-linecap="round" stroke-linejoin="round" d="M21 8.25c0-2.485-2.099-4.5-4.688-4.5-1.935 0-3.597 1.126-4.312 2.733-.715-1.607-2.377-2.733-4.313-2.733C5.1 3.75 3 5.765 3 8.25c0 7.22 9 12 9 12s9-4.78 9-12z" />
          </svg>
          </button>
        </div>

        <div class="menu-items">
          <img id="menu-img" class="w-[300px] h-[300px] rounded-full object-cover relative top-32 left-12" src="../../../assets/IMG_0932.PNG" alt="">
          <div id="menu-dishes" class="w-[400px] h-[400px] bg-white flex flex-col justify-center pt-20 pl-12 gap-5">
            <p id="spicy" class="text-3xl font-normal">Potato Burger</p>
            <p id="spicy-para" class="w-[350px] text-gray-500 text-lg">Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore</p>
            <div class="flex flex-row justify-between">
              <button class="w-20 h-11 bg-orange-500 rounded-tl-xl rounded-br-xl flex justify-center items-center"><svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="1.5" stroke="currentColor" class="w-6 h-6">
                <path stroke-linecap="round" stroke-linejoin="round" d="M2.25 3h1.386c.51 0 .955.343 1.087.835l.383 1.437M7.5 14.25a3 3 0 00-3 3h15.75m-12.75-3h11.218c1.121-2.3 2.1-4.684 2.924-7.138a60.114 60.114 0 00-16.536-1.84M7.5 14.25L5.106 5.272M6 20.25a.75.75 0 11-1.5 0 .75.75 0 011.5 0zm12.75 0a.75.75 0 11-1.5 0 .75.75 0 011.5 0z" />
              </svg>
              </button>
              <p class="font-semibold text-lg text-right pr-10">$300</p>
  
             </div>
          </div>
          <button class="menu-btn     relative top-[-370px] left-[340px]"><svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="1.5" stroke="orange" class="w-10 h-10">
            <path stroke-linecap="round" stroke-linejoin="round" d="M21 8.25c0-2.485-2.099-4.5-4.688-4.5-1.935 0-3.597 1.126-4.312 2.733-.715-1.607-2.377-2.733-4.313-2.733C5.1 3.75 3 5.765 3 8.25c0 7.22 9 12 9 12s9-4.78 9-12z" />
          </svg>
          </button>
        </div>

        <div class="menu-items">
          <img id="menu-img" class="w-[300px] h-[300px] rounded-full object-cover relative top-32 left-12" src="../../../assets/unnamed.jpg" alt="">
          <div id="menu-dishes" class="w-[400px] h-[400px] bg-white flex flex-col justify-center pt-20 pl-12 gap-5">
            <p id="spicy" class="text-3xl font-normal">Zinger Burger</p>
            <p id="spicy-para" class="w-[350px] text-gray-500 text-lg">Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore</p>
            <div class="flex flex-row justify-between">
              <button class="w-20 h-11 bg-orange-500 rounded-tl-xl rounded-br-xl flex justify-center items-center"><svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="1.5" stroke="currentColor" class="w-6 h-6">
                <path stroke-linecap="round" stroke-linejoin="round" d="M2.25 3h1.386c.51 0 .955.343 1.087.835l.383 1.437M7.5 14.25a3 3 0 00-3 3h15.75m-12.75-3h11.218c1.121-2.3 2.1-4.684 2.924-7.138a60.114 60.114 0 00-16.536-1.84M7.5 14.25L5.106 5.272M6 20.25a.75.75 0 11-1.5 0 .75.75 0 011.5 0zm12.75 0a.75.75 0 11-1.5 0 .75.75 0 011.5 0z" />
              </svg>
              </button>
              <p class="font-semibold text-lg text-right pr-10">$300</p>
  
             </div>
          </div>
          <button class="menu-btn   relative top-[-370px] left-[340px]"><svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="1.5" stroke="orange" class="w-10 h-10">
            <path stroke-linecap="round" stroke-linejoin="round" d="M21 8.25c0-2.485-2.099-4.5-4.688-4.5-1.935 0-3.597 1.126-4.312 2.733-.715-1.607-2.377-2.733-4.313-2.733C5.1 3.75 3 5.765 3 8.25c0 7.22 9 12 9 12s9-4.78 9-12z" />
          </svg>
          </button>
        </div>

        <div class="menu-items">
          <img id="menu-img" class="w-[300px] h-[300px] rounded-full object-cover relative top-32 left-12" src="../../../assets/IMG_0931.PNG" alt="">
          <div id="menu-dishes" class="w-[400px] h-[400px] bg-white flex flex-col justify-center pt-20 pl-12 gap-5">
            <p id="spicy" class="text-3xl font-normal">Cheese Chicken Burger</p>
            <p id="spicy-para" class="w-[350px] text-gray-500 text-lg">Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore</p>
            <div class="flex flex-row justify-between">
              <button class="w-20 h-11 bg-orange-500 rounded-tl-xl rounded-br-xl flex justify-center items-center"><svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="1.5" stroke="currentColor" class="w-6 h-6">
                <path stroke-linecap="round" stroke-linejoin="round" d="M2.25 3h1.386c.51 0 .955.343 1.087.835l.383 1.437M7.5 14.25a3 3 0 00-3 3h15.75m-12.75-3h11.218c1.121-2.3 2.1-4.684 2.924-7.138a60.114 60.114 0 00-16.536-1.84M7.5 14.25L5.106 5.272M6 20.25a.75.75 0 11-1.5 0 .75.75 0 011.5 0zm12.75 0a.75.75 0 11-1.5 0 .75.75 0 011.5 0z" />
              </svg>
              </button>
              <p class="font-semibold text-lg text-right pr-10">$300</p>
  
             </div>
          </div>
          <button class="menu-btn     relative top-[-370px] left-[340px]"><svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="1.5" stroke="orange" class="w-10 h-10">
            <path stroke-linecap="round" stroke-linejoin="round" d="M21 8.25c0-2.485-2.099-4.5-4.688-4.5-1.935 0-3.597 1.126-4.312 2.733-.715-1.607-2.377-2.733-4.313-2.733C5.1 3.75 3 5.765 3 8.25c0 7.22 9 12 9 12s9-4.78 9-12z" />
          </svg>
          </button>
        </div>

        <div class="menu-items">
          <img id="menu-img" class=" w-[300px] h-[300px] rounded-full object-cover relative top-32 left-12" src="../../../assets/IMG_0931.PNG" alt="">
          <div id="menu-dishes" class="w-[400px] h-[400px] bg-white flex flex-col justify-center pt-32 pl-12 gap-5">
            <p id="spicy" class="text-3xl font-normal">Crispy Chicken Burger</p>
            <p id="spicy-para" class="w-[350px] text-gray-500 text-lg">Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore</p>
            <div class="flex flex-row justify-between">
              
              <button class="w-20 h-11 bg-orange-500 rounded-tl-xl rounded-br-xl flex justify-center items-center"><svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="1.5" stroke="currentColor" class="w-6 h-6">
                <path stroke-linecap="round" stroke-linejoin="round" d="M2.25 3h1.386c.51 0 .955.343 1.087.835l.383 1.437M7.5 14.25a3 3 0 00-3 3h15.75m-12.75-3h11.218c1.121-2.3 2.1-4.684 2.924-7.138a60.114 60.114 0 00-16.536-1.84M7.5 14.25L5.106 5.272M6 20.25a.75.75 0 11-1.5 0 .75.75 0 011.5 0zm12.75 0a.75.75 0 11-1.5 0 .75.75 0 011.5 0z" />
              </svg>
              </button>
              <p class="font-semibold text-lg text-right pr-10">$300</p>
  
             </div>
          </div>
          <button id="" class="menu-btn     relative top-[-370px] left-[340px]"><svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="1.5" stroke="orange" class="w-10 h-10">
            <path stroke-linecap="round" stroke-linejoin="round" d="M21 8.25c0-2.485-2.099-4.5-4.688-4.5-1.935 0-3.597 1.126-4.312 2.733-.715-1.607-2.377-2.733-4.313-2.733C5.1 3.75 3 5.765 3 8.25c0 7.22 9 12 9 12s9-4.78 9-12z" />
          </svg>
          </button>
        </div>

      </div>
    </div>
  </section>

       <!-- COUSTOMER'S SAYS  -->

  <section>
    <div class="flex flex-col items-center ">
      <p id="sctn4-ourCustomer" class="text-7xl">Our Customer's Says</p>
     <div id="review-main" class="grid grid-cols-3 gap-24 ">

      <div id="sctn4-customers-review" class="flex flex-col w-[450px] h-[500px] bg-white items-center justify-between mt-24 ">
        <div class="pt-5">
          <p id="sctn4-comma" class="text-7xl text-orange-500">"</p>
          <p id="sctn4-review" class="text-2xl">Excepteur sint occaecat cupidatat <br> non proident, sunt in culpa qui officia <br> deserunt mollit anim id est laborum</p>
        </div>
        <div id="sctn4-profile" class="flex flex-row items-center justify-center gap-10  w-[450px] h-[150px] bg-red-200 ">
          <img class="w-24 h-24" src="../../../assets/profile.png" alt="">
         <div id="sctn4-uerid" class="flex flex-col pt-10">
          <p class="text-2xl font-semibold ">John Deo</p>
          <img class="w-[150px] mt-[-40px]" src="../../../assets/rating.png" alt="">
         
        </div>

        </div>
      </div>

      <div id="sctn4-customers-review" class="flex flex-col w-[450px] h-[500px] bg-white items-center justify-between mt-24">
        <div class="pt-5">
          <p id="sctn4-comma" class="text-7xl text-orange-500">"</p>
          <p id="sctn4-review" class="text-2xl">Excepteur sint occaecat cupidatat <br> non proident, sunt in culpa qui officia <br> deserunt mollit anim id est laborum</p>
        </div>
        <div id="sctn4-profile" class="flex flex-row items-center justify-center gap-10  w-[450px] h-[150px] bg-red-200 ">
          <img class="w-24 h-24" src="../../../assets/profile.png" alt="">
         <div id="sctn4-uerid" class="flex flex-col pt-10">
          <p class="text-2xl font-semibold ">John Deo</p>
          <img class="w-[150px] mt-[-40px]" src="../../../assets/rating.png" alt="">
         
        </div>

        </div>
      </div>


      <div id="sctn4-customers-review" class="flex flex-col w-[450px] h-[500px] bg-white items-center justify-between mt-24">
        <div class="pt-5">
          <p id="sctn4-comma" class="text-7xl text-orange-500">"</p>
          <p id="sctn4-review" class="text-2xl">Excepteur sint occaecat cupidatat <br> non proident, sunt in culpa qui officia <br> deserunt mollit anim id est laborum</p>
        </div>
        <div id="sctn4-profile" class="flex flex-row items-center justify-center gap-10  w-[450px] h-[150px] bg-red-200 ">
          <img class="w-24 h-24" src="../../../assets/profile.png" alt="">
         <div id="sctn4-uerid" class="flex flex-col pt-10">
          <p class="text-2xl font-semibold ">John Deo</p>
          <img class="w-[150px] mt-[-40px]" src="../../../assets/rating.png" alt="">
         
        </div>

        </div>
      </div>
    </div>

    </div>
  </section>

  <section class="mt-12">
    <div>
     
      <div class="flex justify-center flex-col items-center gap-10">
        <p class="sctn5-getinTouch text-6xl font-semibold">Get in Touch with Us</p>
        <p class=" text-3xl w-[1000px] text-center">Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur.
          Excepteur sint occaecat cupidatat non proident</p>
      </div>
    </div>
  </section>


</div>  

</body>
</html>
